@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
@media screen and(max-width:468px) {
  *{
    overflow-x: hidden;
  }

  body{
    overflow-x: hidden;
  }
  

}

.nav_link> path:hover{
  fill:#FACD66;
}
.nav_link >path.active{
  fill: #FACD66;
}
/* 
  &:hover{
    path{
      fill:green;
    }
  }
  &.active{
    path{
      fill:blue;
    }
  }
} */
